$white: #fff;
$black: #000;
$blue: #005bff;
$dark-blue: #090089;
$light-blue: #00a2ff;
$red: #f81155;
$orange: #fae670;
$pink: #fa5987;
$green: #06ca99;
$yellow: #fae66f;

$dark-blue-border: 3px solid $dark-blue;

$breakpoints: (
	lg: 1416px,
	md: 936px,
	sm: 320px
);
