{% extends '../layouts/default.twig' %}
{% set title = 'Index' %}

{% block styles %}
	{# Убрать при билде #}
	<style>
		body {
			margin: 0;
		}
	</style>
{% endblock %}

{% block page %}

	{% include '../components/dreamers.twig' %}
	{% include '../components/join.twig' %}

	<div class="box" style="height: 2000px"></div>

{% endblock %}


