@font-face {
	font-family: "GTEestiProDisplay-Regular";
	src:
		url("../fonts/GT-Eesti-Pro-Display-Regular.woff") format("woff"),
		url("../fonts/GT-Eesti-Pro-Display-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.b2b{
	font-family: "GTEestiProDisplay-Regular", sans-serif;
}
