@import "helpers/core";

@import "includes/fonts";

#business-dream {
	@import "libs/swiper/swiper";
	font-family: "reg", -apple-system, system-ui, blinkmacsystemfont, "Lucida Grande", "Lucida Sans Unicode", "sans-serif";

	*,
	&::before,
	&::after {
		box-sizing: border-box;
		outline: none;
		-webkit-font-smoothing: antialiased;
	}

	img {
		display: block;
		max-width: 100%;
		pointer-events: none;
		user-select: none;
	}

	a {
		text-decoration: none;
	}

	.container-wide {
		@extend %container;
		max-width: 1280px;

		@include adaptive(1400) {
			max-width: 810px;
		}
	}

	.container-semi {
		@extend %container;
		max-width: 1130px;

		@include adaptive(1024) {
			max-width: 800px;
		}
	}

	.container {
		@extend %container;
		max-width: 950px;

		@include adaptive(1400) {
			max-width: 650px;
		}
	}

	.container-full {
		@extend %container;
		max-width: 1416px;
		padding-left: 0;
		padding-right: 0;

		@include adaptive(1400) {
			max-width: 936px;
		}
	}

	h1 {
		margin: 0;
		font-weight: 500;
		font-size: 48px;
		line-height: 50px;
		color: $dark-blue;

		@include adaptive(1024) {
			font-size: 36px;
			line-height: 40px;
		}

		@include adaptive(480) {
			font-size: 30px;
			line-height: 32px;
		}
	}

	h3 {
		margin: 0;
		font-size: 36px;
		line-height: 50px;
		color: $dark-blue;

		@include adaptive(1024) {
			font-size: 24px;
			line-height: 28px;
		}

		@include adaptive(480) {
			font-size: 18px;
			line-height: 22px;
			font-weight: 400;
		}
	}

	@import "includes/sections/dreamers";
	@import "includes/sections/prize";
	@import "includes/sections/join";
	@import "includes/sections/announce-winners";
	@import "includes/sections/winners";
}
