@import "helpers/core";

@import "includes/fonts";

#business-dream {
	font-family: "reg", -apple-system, system-ui, blinkmacsystemfont, "Lucida Grande", "Lucida Sans Unicode", "sans-serif";

	*,
	&::before,
	&::after {
		box-sizing: border-box;
		outline: none;
		-webkit-font-smoothing: antialiased;
	}

	img {
		display: block;
		max-width: 100%;
		pointer-events: none;
		user-select: none;
	}

	a {
		text-decoration: none;
	}

	.container-wide {
		@extend %container;
		max-width: 1280px;

		@include adaptive(1400) {
			max-width: 810px;
		}
	}

	.container-semi {
		@extend %container;
		max-width: 1130px;

		@include adaptive(1024) {
			max-width: 800px;
		}
	}

	.container {
		@extend %container;
		max-width: 950px;

		@include adaptive(1400) {
			max-width: 650px;
		}
	}

	.container-full {
		@extend %container;
		max-width: 1416px;
		padding-left: 0;
		padding-right: 0;

		@include adaptive(1400) {
			max-width: 936px;
		}
	}

	@import "includes/sections/dreamers";
	@import "includes/sections/join";
	@import "includes/sections/announce-winners";
}
