.join {
	position: relative;
	margin: auto;
	max-width: get-breakpoint(lg) + 30px;

	@include media-up(sm) {
		padding: 0 15px;
	}

	&-bg {
		@include hide-down(md);
		content: '';
		position: absolute;
		left: 50%;
		top: -52px;
		width: 243px;
		background-size: contain;
		margin-left: 390px;
		z-index: -1;

		@include media-down(lg) {
			margin-left: 198px;
			width: 192px;
		}
	}

	@include media-down(lg) {
		max-width: get-breakpoint(md) + 30px;
	}
}

.join-banner-box {
	@include media-down(sm) {
		width: 100%;
		padding-top: 115px;
		padding-bottom: 75px;
		overflow: hidden;

		&::before {
			content: url(/assets/img/design/join/join-banner-icon.svg);
			position: absolute;
			top: 30px;
			left: 0;
		}
	}
}

.join-banner {
	$deg: 2.7deg;

	position: relative;
	left: -70px;
	display: flex;
	margin: auto;
	align-items: center;
	width: 751px;
	height: 161px;
	padding: 0 0 10px 18px;
	transform: rotate(- $deg);
	background: $white;
	border: $dark-blue-border;
	box-shadow: 20px 20px 0 0 $pink;
	font-weight: 600;
	color: $dark-blue;

	&::before {
		@include hide-down(sm);
		content: '';
		position: absolute;
		top: -37px;
		right: -30px;
		width: 71px;
		height: 71px;
		background: url(/assets/img/design/star.svg);
		background-size: 100%;
		transform: rotate(7deg);
	}

	@include media-down(lg) {
		left: 2px;
		width: 564px;
		height: 123px;
		padding: 0 0 11px 24px;
		box-shadow: 12px 12px 0 0 $pink;

		&::before {
			top: -30px;
			right: -25px;
			width: 60px;
			height: 60px;
		}
	}

	@include media-between(md, lg) {
		margin-left: 0;
	}

	@include media-down(sm) {
		width: 100%;
		height: auto;
		left: 10px;
		box-shadow: 20px 20px 0 0 $pink;
	}

	&-txt {
		font-style: italic;
		font-size: 48px;
		line-height: 50px;
		letter-spacing: .005em;

		@include media-down(lg) {
			font-size: 36px;
			line-height: 40px;
		}

		@include media-down(sm) {
			padding-top: 12px;
			font-size: 32px;
			line-height: 34px;
		}
	}

	&-button {
		position: absolute;
		left: 490px;
		bottom: -42px;
		width: 395px;
		height: 60px;
		padding-left: 12px;
		transform: rotate($deg);
		background: $white;
		border: $dark-blue-border;
		line-height: 52px; // height - border-width
		letter-spacing: .015em;
		font-size: 24px;
		color: $dark-blue;

		@include media-down(lg) {
			left: 285px;
			bottom: -40px;
			width: 323px;
			height: 52px;
			padding-left: 6px;
			letter-spacing: .005em;
			font-size: 20px;
			line-height: 48px;
		}

		@include media-down(sm) {
			left: auto;
			right: 0;
			bottom: -78px;
			height: auto;
			width: 82%;
			max-width: 285px;
			font-size: 16px;
			line-height: 18px;
			border-width: 2px;
			padding: 11px 25px 11px 16px;
		}
	}
}

.join-steps {
	margin: 95px auto 65px;
	max-width: 1250px;

	@include media-down(lg) {
		margin: 75px 0 0;
	}

	@include media-down(sm) {
		margin-top: 0;
		margin-bottom: 40px;
	}
}

$join-num-width: 125px;
$join-step-height: 102px;
$join-step-height-md: 87px;
$join-num-margin: 35px;
$join-step-offset: $join-num-width+$join-num-margin;

.join-step {
	$shadow-size: 10px;

	position: relative;
	display: flex;
	color: $dark-blue;
	margin-bottom: 30px;

	@include media-up(lg) {
		&_2 {
			margin-left: $join-step-offset;
		}

		&_3 {
			margin-left: $join-step-offset * 2;
		}
	}

	@include media-down(lg) {
		margin-bottom: 22px;
	}

	@include media-down(sm) {
		display: block;
		padding-top: 40px;
		margin-bottom: 0;
		padding-right: 7px;
		max-width: 480px;
		overflow: hidden;

		&::before {
			position: absolute;
		}

		&_1 {
			padding-top: 36px;

			&::before {
				content: url(/assets/img/design/join/join-step-icon-1.svg);
				top: 13px;
				left: 193px;
			}
		}

		&_2::before {
			content: url(/assets/img/design/join/join-step-icon-2.svg);
			top: 20px;
			left: 210px;
		}

		&_3::before {
			content: url(/assets/img/design/join/join-step-icon-3.svg);
			top: 5px;
			left: 140px;
		}
	}

	&-num {
		min-width: $join-num-width;
		height: $join-step-height;
		margin-right: $join-num-margin;
		border: $dark-blue-border;
		background: $white;
		box-shadow: 10px 10px 0 0 $light-blue;
		text-align: center;
		font-weight: 600;
		font-size: 60px;
		line-height: 93px;

		@include media-down(lg) {
			height: $join-step-height-md;
			min-width: 106px;
			margin-right: 30px;
			font-size: 56px;
			line-height: 81px;
		}

		@include media-down(sm) {
			width: 68px;
			height: 56px;
			min-width: auto;
			margin-left: 15px;
			margin-bottom: 15px;
			border-width: 2px;
			line-height: 52px;
		}
	}

	&-txt {
		position: relative;
		display: flex;
		align-items: center;
		width: 532px;
		padding: 0 30px 0 20px;
		min-height: $join-step-height + 10px;
		background: $yellow;
		border: $dark-blue-border;
		border-radius: 4px;
		font-size: 24px;
		font-weight: 100;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 5px;
			width: 25px;
			height: 100%;
			background: url(/assets/img/design/join/join-vertical-dots.svg) 50% no-repeat;
		}

		+ .join-step-txt {
			margin-top: 12px;
		}

		@include media-down(lg) {
			width: 456px;
			min-height: $join-step-height-md + 10px;
			font-size: 22px;
			line-height: 1.1;
		}

		@include media-down(sm) {
			width: auto;
			left: -5px;
			min-height: 90px;
			border-width: 2px;
			font-size: 20px;

			+ .join-step-txt {
				margin-top: 8px;
			}
		}

		@include media-down(xs) {
			font-size: 15px;
		}
	}

	&-accent {
		color: $red;
	}
}
