$join-border: 3px solid $dark-blue;

.join {
	position: relative;
	margin: auto;
	max-width: 1420px;
	padding: 0 15px;

	&-bg {
		content: '';
		position: absolute;
		left: 50%;
		top: -52px;
		width: 243px;
		background-size: contain;
		margin-left: 390px;
		z-index: -1;

		@include media-down(lg) {
			margin-left: 208px;
			width: 192px;
		}
	}

	@include media-down(lg) {
		max-width: 940px;
	}
}

.join-banner {
	$deg: 2.7deg;

	position: relative;
	left: -70px;
	display: flex;
	margin: 100px auto 0;
	align-items: center;
	width: 751px;
	height: 161px;
	padding: 0 0 10px 18px;
	transform: rotate(- $deg);
	background: $white;
	border: $join-border;
	box-shadow: 20px 20px 0 0 $light-red;
	font-weight: 600;
	color: $dark-blue;

	&::before {
		content: '';
		position: absolute;
		top: -37px;
		right: -30px;
		width: 71px;
		height: 71px;
		background: url(/assets/img/design/star.svg);
		background-size: 100%;
		transform: rotate(7deg);
	}

	@include media-down(lg) {
		left: 2px;
		width: 564px;
		height: 123px;
		margin: 100px 0 0;
		padding: 0 0 11px 24px;
		box-shadow: 12px 12px 0 0 $light-red;

		&::before {
			top: -30px;
			right: -25px;
			width: 60px;
			height: 60px;
		}
	}

	&-txt {
		font-style: italic;
		font-size: 48px;
		line-height: 50px;
		letter-spacing: .005em;

		@include media-down(lg) {
			font-size: 36px;
			line-height: 40px;
		}
	}

	&-button {
		position: absolute;
		left: 490px;
		bottom: -42px;
		width: 395px;
		height: 60px;
		padding-left: 12px;
		transform: rotate($deg);
		background: $white;
		border: $join-border;
		line-height: 52px; // height - border-width
		letter-spacing: .015em;
		font-size: 24px;
		color: $dark-blue;

		@include media-down(lg) {
			left: 285px;
			bottom: -40px;
			width: 323px;
			height: 52px;
			padding-left: 6px;
			font-size: 20px;
			line-height: 48px;
		}
	}
}

.join-steps {
	margin: 95px auto 0;
	max-width: 1250px;

	@include media-down(lg) {
		margin: 75px 0 0;
	}
}

$join-num-width: 125px;
$join-step-height: 102px;
$join-step-height-md: 87px;
$join-num-margin: 35px;

$join-step-offset: $join-num-width + $join-num-margin;

.join-step {
	$shadow-size: 10px;

	display: flex;
	color: $dark-blue;
	margin-bottom: 30px;

	@include media-down(lg) {
		margin-bottom: 22px;
	}

	&-num {
		min-width: $join-num-width;
		height: $join-step-height;
		margin-right: $join-num-margin;
		border: $join-border;
		background: $white;
		box-shadow: 10px 10px 0 0 $light-blue;
		text-align: center;
		font-weight: 600;
		font-size: 60px;
		line-height: 93px;

		@include media-down(lg) {
			height: $join-step-height-md;
			min-width: 106px;
			margin-right: 30px;
			font-size: 56px;
			line-height: 81px;
		}
	}

	&-txt {
		position: relative;
		display: flex;
		align-items: center;
		width: 532px;
		padding: 0 20px;
		min-height: $join-step-height + 10px;
		background: $orange;
		border: $join-border;
		border-radius: 4px;
		font-size: 24px;
		font-weight: 100;

		&::after {
			content: url(/assets/img/design/join/join-vertical-dots.svg);
		}

		+ .join-step-txt {
			margin-top: 12px;
		}

		.accent {
			color: $red;
		}

		@include media-down(lg) {
			width: 456px;
			min-height: $join-step-height-md + 10px;
			font-size: 22px;
			line-height: 1.1;
		}
	}

	@include media-up(lg) {
		&--2 {
			margin-left: $join-step-offset;
		}

		&--3 {
			margin-left: $join-step-offset * 2;
		}
	}
}
