.prize {
	margin-top: -5px;
	position: relative;
	z-index: 10;

	@include media-down(lg) {
		margin-top: -3px;
	}
}

.prize-top {
	position: relative;
	height: 80px;
	border: 5px solid $dark-blue;
	border-bottom-width: 0 !important;
	border-radius: 10px 10px 0 0;

	&::before {
		content: url(/assets/img/design/join/join-vertical-dots.svg);
		position: absolute;
		right: 15px;
		top: 20px;
	}

	@include media-down(lg) {
		margin-right: 20px;
		border-width: 3px;

		&::before {
			top: 10px;
			transform: scale(.65);
		}
	}
}

.prize-head {
	text-align: center;

	&-txt {
		display: inline-block;
		padding: 0 105px;
		line-height: 90px;
		background: url(/assets/img/design/prize/icon-prize.svg) no-repeat;
		font-weight: 500;
		font-size: 48px;
		color: $dark-blue;

		@include media-down(lg) {
			font-size: 36px;
			padding: 0 97px;
		}
	}
}

.prize-body {
	position: relative;
	margin: auto;
	padding-bottom: 120px;

	&-grid {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 40px auto 50px;
		width: 936px;
		height: 936px;
		background: url(/assets/img/design/prize/prize-grid.svg) no-repeat;
		background-size: 100%;

		@include media-down(lg) {
			width: 776px;
			height: 776px;
		}
	}
}

.prize-txt-box {
	display: flex;
	align-items: center;
	position: absolute;
	padding: 6px 6px 6px 12px;
	background: $white;
	border: $dark-blue-border;
	color: $dark-blue;
	height: 86px;

	&_circle::before {
		content: '';
		position: absolute;
		width: 26px;
		height: 26px;
		border: 3px solid $dark-blue;
		border-radius: 50%;
	}
}

.prize-txt {
	display: inline-block;
	font-size: 24px;
	line-height: 1.1;
	font-weight: 300;

	@include media-down(lg) {
		font-size: 20px;
		line-height: 24px;

		br {
			display: none;
		}
	}
}

.prize-column-box {
	max-width: 50%;
}

.prize-column {
	position: relative;

	&_500 {
		top: 15px;
		right: 155px;

		.prize-txt-box {
			bottom: -35px;
			right: 10px;
			left: -80px;
			height: 100px;
		}

		@include media-down(lg) {
			top: 22px;
			right: 55px;

			.prize-txt-box {
				right: -32px;
				bottom: -55px;
				left: 51px;
				padding-left: 21px;
				padding-right: 18px;
				height: 120px;
			}
		}
	}

	&_200 {
		top: 100px;
		right: 33px;

		.prize-txt-box {
			left: 100px;
			bottom: -35px;
			width: 430px;

			&::before {
				top: -10px;
				left: -20px;
				background: $yellow;
			}
		}

		@include media-down(lg) {
			top: 82px;
			right: 7px;

			.prize-txt-box {
				left: 75px;
				bottom: -45px;
				width: 307px;
				height: 96px;
				padding-left: 8px;
				padding-right: 15px;

				&::before {
					left: -23px;
				}
			}
		}
	}

	&_100 {
		bottom: 120px;
		left: 75px;

		.prize-txt-box {
			right: -70px;
			bottom: -35px;
			left: -20px;
			height: 90px;
			padding-left: 18px;

			&::before {
				content: '';
				position: absolute;
				top: -55px;
				right: 60px;
				width: 72px;
				height: 73px;
				background: url(/assets/img/design/prize/prize-icon-star.svg) no-repeat;
				background-size: 100%;
			}
		}

		@include media-down(lg) {
			bottom: 55px;
			left: 37px;

			.prize-txt-box {
				right: -52px;
				bottom: -40px;
				left: 41px;
				height: 95px;
				padding-left: 18px;
				padding-right: 20px;

				&::before {
					width: 44px;
					height: 45px;
					top: -35px;
					right: -2px;
				}
			}
		}
	}

	&_20 {
		right: 45px;
		bottom: 25px;

		.prize-txt-box {
			right: -82px;
			bottom: -43px;
			left: 25px;

			&::before {
				top: -20px;
				left: 30px;
				background: $pink;
			}
		}

		@include media-up(lg) {
			.prize-txt-box {
				padding-left: 27px;
			}
		}

		@include media-down(lg) {
			right: 60px;
			bottom: -30px;

			.prize-txt-box {
				right: -88px;
				bottom: -29px;
				left: 32px;
				height: 78px;
			}
		}
	}
}

.prize-businessmen {
	position: absolute;
	bottom: 45px;
	left: 290px;
	width: 273px;
	height: 118px;
	background: url(/assets/img/design/prize/businessmen.svg) no-repeat;
	background-size: 100%;

	@include media-down(lg) {
		width: 204px;
		height: 88px;
		bottom: 20px;
		left: 243px;
	}
}

.prize-bg {
	position: absolute;
	height: auto;

	&_circle {
		top: 35px;
		left: 385px;
	}

	&_garland {
		top: 0;
		right: 75px;
	}

	&_pink-curve {
		bottom: 165px;
		left: -70px;
	}

	&_flag {
		right: 0;
		bottom: 50px;
	}

	&_sock {
		width: 104px;
		bottom: 60px;
		left: 125px;
	}

	@include media-down(lg) {
		&_circle {
			top: 7px;
			left: 366px;
			width: 115px;
		}

		&_garland {
			width: 140px;
			right: 130px;
		}

		&_pink-curve {
			bottom: 70px;
			left: -50px;
		}

		&_flag {
			bottom: 25px;
			width: 170px;
		}

		&_sock {
			width: 80px;
			bottom: -40px;
			left: 100px;
		}
	}
}
