.winners {
	padding: 50px 0 80px;

	@include adaptive(1024) {
		padding-bottom: 48px;
	}

	@include adaptive(480) {
		padding-bottom: 38px;
	}

	&-container {
		@extend %container;
		max-width: 1280px;
	}

	&-title {
		text-align: center;
		margin-bottom: 6px;

		@include adaptive(480) {
			text-align: left;
			max-width: 220px;
			margin-bottom: 15px;
		}
	}

	&-subtitle {
		text-align: center;
		margin-bottom: 110px;

		@include adaptive(1024) {
			margin-bottom: 40px;
		}

		@include adaptive(480) {
			margin-bottom: 36px;
			max-width: 250px;
			text-align: left;
		}
	}

	&-wrap {
		position: relative;
		padding: 0 20px;

		@include adaptive(900) {
			padding: 0;
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&-slider {
		max-width: 994px;
		margin: 0 auto;
		cursor: pointer;

		@include adaptive(1024) {
			max-width: 820px;
		}
	}

	&-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptive(1024) {
			width: 14px;
			height: 27px;
		}

		@include adaptive(900) {
			display: none;
		}

		&_role {
			&_prev {
				left: 0;
			}

			&_next {
				right: 0;
			}
		}
	}

	&-item {
		padding: 36px 26px 33px 84px;
		border: 3px solid $dark-blue;
		border-radius: 10px 0 0 10px;
		display: flex;
		background-color: $blue;
		overflow: hidden;
		position: relative;
		color: $dark-blue;
		height: auto;
		user-select: none;

		@include adaptive(1024) {
			padding: 26px 16px 16px 66px;
		}

		@include adaptive(900) {
			flex-direction: column;
			align-items: center;
			border: 2px solid $dark-blue;
			border-radius: 10px;
			padding: 55px 15px 30px;
		}

		&_no_js:not(:last-child) {
			margin-bottom: 36px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 18px;
			bottom: 34px;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='49' viewBox='0 0 14 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3139 41.617C12.3139 38.495 9.78116 35.9641 6.65693 35.9641C3.53269 35.9641 1 38.495 1 41.617C1 44.739 3.53269 47.2699 6.65693 47.2699C9.78116 47.2699 12.3139 44.739 12.3139 41.617Z' stroke='%23090089' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M12.3138 23.9731C12.3138 20.8511 9.78113 18.3202 6.65689 18.3202C3.53266 18.3202 0.999969 20.8511 0.999969 23.9731C0.999969 27.0951 3.53266 29.626 6.6569 29.626C9.78113 29.626 12.3138 27.0951 12.3138 23.9731Z' stroke='%23090089' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M12.3138 6.65278C12.3138 3.53077 9.78113 0.999886 6.65689 0.999886C3.53266 0.999886 0.999969 3.53077 0.999969 6.65278C0.999969 9.77478 3.53266 12.3057 6.6569 12.3057C9.78113 12.3057 12.3138 9.77478 12.3138 6.65278Z' stroke='%23090089' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
			width: 14px;
			height: 49px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;

			@include adaptive(1024) {
				left: 15px;
				bottom: 28px;
			}

			@include adaptive(900) {
				bottom: auto;
				transform: rotate(90deg);
				top: 4px;
				left: 32px;
				width: 8px;
				height: 32px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 60px;
			background-color: $yellow;
			border-right: 3px solid $dark-blue;

			@include adaptive(1024) {
				width: 42px;
			}

			@include adaptive(900) {
				width: auto;
				right: 0;
				bottom: auto;
				height: 40px;
				border-right: none;
				border-bottom: 2px solid $dark-blue;
			}
		}

		&__counter {
			display: none;
			position: absolute;
			top: 12px;
			right: 14px;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;

			@include adaptive(900) {
				display: block;
			}
		}

		&__image {
			width: 45%;
			flex-shrink: 0;
			border: 3px solid $dark-blue;
			max-width: 100%;

			@include adaptive(900) {
				width: 360px;
				height: 360px;
				margin-bottom: 12px;
				border-bottom: 2px solid $dark-blue;
			}

			@include adaptive(480) {
				width: 280px;
				height: 280px;
				margin-bottom: 10px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__info {
			width: 54%;
			flex-shrink: 0;
			margin-left: 1%;
			display: flex;
			flex-direction: column;

			@include adaptive(900) {
				width: 100%;
				margin-left: 0;
				flex-grow: 1;
			}
		}

		&__name {
			background: #fff;
			border: 3px solid $dark-blue;
			border-radius: 10px;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			padding: 8px 16px;
			margin-bottom: 12px;

			@include adaptive(1024) {
				font-size: 20px;
				line-height: 24px;
				padding: 5px 10px;
				border-bottom: 2px solid $dark-blue;
			}

			@include adaptive(480) {
				font-size: 18px;
				line-height: 21px;
				padding: 8px 10px;
				margin-bottom: 8px;
			}
		}

		&__position {
			background-color: $yellow;
			padding: 17px 30px 16px 15px;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			border: 3px solid $dark-blue;
			border-radius: 10px;
			margin-bottom: 14px;

			@include adaptive(1024) {
				font-size: 20px;
				line-height: 24px;
				padding: 9px 27px 9px 10px;
				border-bottom: 2px solid $dark-blue;
			}

			@include adaptive(480) {
				font-size: 14px;
				line-height: 18px;
				padding: 15px 10px;
				margin-bottom: 8px;
			}
		}

		&__description {
			background: #fff;
			border: 3px solid $dark-blue;
			border-radius: 10px;
			font-size: 18px;
			line-height: 24px;
			padding: 20px 38px 20px 16px;
			flex-grow: 1;

			@include adaptive(1024) {
				font-size: 16px;
				line-height: 21px;
				padding: 12px 5px 12px 10px;
				border-bottom: 2px solid $dark-blue;
			}

			@include adaptive(480) {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}
