<section class="announce-winners">
	<div class="container-semi">
		<div class="announce-winners__tile">
			<span>Победителей объявит Ирина Шихман <br> на онлайн-конференции Ozon 10.02.2021</span>
		</div>
	</div>
</section>
