<section class="dreamers">
	<img src="/assets/img/design/dreamers/garland.svg" alt="Гирлянда" class="dreamers-garland">
	<div class="container-wide">
		<div class="dreamers-wrap">
			<div class="dreamers-tag dreamers-tile dreamers-tile_background_blue">
				#ozon_бизнесмечты
			</div>
		</div>
	</div>
</section>
