<section class="dreamers">
	<div class="dreamers-design container-wide">
		<img src="/assets/img/design/dreamers/garland.svg" alt="Гирлянда" class="dreamers-design__garland">
		<img src="/assets/img/design/dreamers/star-1.svg" alt="Звездочка"
			 class="dreamers-design__star dreamers-design__star_number_one">
		<img src="/assets/img/design/dreamers/star-1.svg" alt="Звездочка"
			 class="dreamers-design__star dreamers-design__star_number_two">
		<img src="/assets/img/design/dreamers/star-1.svg" alt="Звездочка"
			 class="dreamers-design__star dreamers-design__star_number_three">
		<img src="/assets/img/design/dreamers/star-1.svg" alt="Звездочка"
			 class="dreamers-design__star dreamers-design__star_number_fourth">
		<img src="/assets/img/design/dreamers/snake-little.svg" alt="Змейка"
			 class="dreamers-design__snake-little">
		<img src="/assets/img/design/dreamers/snake-big.svg" alt="Змейка"
			 class="dreamers-design__snake-big">
	</div>
	<div class="container-wide">
		<div class="dreamers-wrap">
			<div class="dreamers-info">
				<div class="dreamers-tag dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_blue">
					<span>#ozon_бизнесмечты</span>
				</div>
				<div class="dreamers-title dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_pink">
					<span>Бизнес мечты сбывается!</span>
					<div class="dreamers-subtitle dreamers-tile">
						<span>В Новом году всё возможно <br>
							с Ozon Маrketplace!</span>
					</div>
				</div>
				<div class="dreamers-info__image dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_yellow">
					<img src="/assets/img/design/dreamers/latch.svg" class="dreamers-design__latch" alt="Защелка">
					<img src="/assets/img/design/dreamers/photo-3.jpg" alt="Фото">
				</div>
			</div>

			<div class="dreamers-photos">
				<img src="/assets/img/design/dreamers/box.svg" alt="Коробка с подарком" class="dreamers-design__box">
				<div class="dreamers-photo dreamers-photo_type_main dreamers-tile">
					<img src="/assets/img/design/dreamers/ball.png" alt="Шар" class="dreamers-design__ball">
					<img src="/assets/img/design/dreamers/cane.svg" alt="Сахарная трость" class="dreamers-design__cane">
					<img src="/assets/img/design/dreamers/red-star.svg" alt="Красная звезда"
						 class="dreamers-design__red-star">
					<img src="/assets/img/design/dreamers/photo-1.jpg" alt="Фото">
					<div class="dreamers-photo dreamers-photo_type_tree dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_green">
						<img src="/assets/img/design/dreamers/tree.png" alt="Новогодняя ель">
					</div>
				</div>
				<div class="dreamers-photos__column">
					<div class="dreamers-photo dreamers-photo_type_second dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_pink">
						<img src="/assets/img/design/dreamers/photo-2.jpg" alt="Фото">
						<img class="dreamers-design__yellow-star" src="/assets/img/design/dreamers/yellow-star.svg"
							 alt="Звездочка">
					</div>
					<div class="dreamers-photo dreamers-photo_type_third dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_yellow">
						<img src="/assets/img/design/dreamers/latch.svg" class="dreamers-design__latch" alt="Защелка">
						<img src="/assets/img/design/dreamers/photo-3.jpg" alt="Фото">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="dreamers-slogan dreamers-tile dreamers-tile_with_drop dreamers-tile_drop_green">
			<span>Предприниматели, вы мечтатели!</span>
			<div class="dreamers-clarification dreamers-tile">
				<span>И чем масштабнее мечты,
					тем масштабнее бизнес</span>
			</div>
		</div>
	</div>
	<div class="container-full">
		<div class="dreamers-board">
			<span>Участвуйте в новогоднем конкурсе <a href="#">#ozon_бизнесмечты</a>, рассказывайте о ваших бизнес-мечтах и
				получите возможность воплотить их в жизнь c Ozon Marketplace!</span>
		</div>
	</div>
</section>
