<section class="feed">
	<div class="feed-design">
		<img src="/assets/img/design/feed/ball.svg" alt="Шарик" class="feed-design__ball">
		<img src="/assets/img/design/feed/pane.svg" alt="Палочка" class="feed-design__pane">
	</div>
	<div class="feed-container">
		<a href="#" class="feed-link"></a>
		<h1 class="feed-title feed-title_no_js">Мечтайте больше, мечтайте о большем!</h1>
		<div class="feed-description">
			Ищите работы участников по хэштэгу в Instagram
		</div>
	</div>
</section>
