<section class="footer">
	<div class="footer-container">
		<div class="footer-tile">Мечтайте смело,<br>
			на Ozon Marketplace время чудес!
		</div>
		<img src="/assets/img/design/footer/garland.svg" alt="Гирлянда" class="footer-garland">
	</div>
	<div class="footer-bottom">
		<img src="/assets/img/design/footer/tree.svg" alt="Шар с елью" class="footer-tree">
	</div>
</section>
