<div class="join">
	<img class="join-bg" src="/assets/img/design/join/join-bg.svg" alt="Подарок">
	<div class="join-banner-box">
		<div class="join-banner">
			<span class="join-banner-txt">
				Мечтайте о том, что в Новом
				году ваш бизнес с Ozon...
			</span>
			<a class="join-banner-button" target="_blank" href="https://docs.ozon.ru/promo/konkurs-ozon-marketplace-biznes-mechty-sbyvaetsya">
				Как принять участие в конкурсе?
			</a>
		</div>
	</div>
	<div class="join-steps">
		<div class="join-step join-step_1">
			<div class="join-step-num">1</div>
			<div class="join-step-txt-box">
				<div class="join-step-txt">
					<span>
						С 4 декабря по 10 января продолжите <br>
						фразу: <span class="join-step-accent">«Мечтаю, о том, что в Новом году
						мой бизнес с Ozon…»</span>
					</span>
				</div>
			</div>
		</div>
		<div class="join-step join-step_2">
			<div class="join-step-num">2</div>
			<div class="join-step-txt-box">
				<div class="join-step-txt">
					<span>
						Выложите пост в ленту Instagram <br>
						c хeштегом <a class="join-step-accent" href="">#ozon_бизнесмечты</a>, отметьте
						<a href="#" class="join-step-accent">@ozonru</a> и <span class="join-step-accent">@ozon_business</span>
					</span>
				</div>
				<div class="join-step-txt">
					<span>
						Или выложите пост в ленту Facebook <br>
						с хэштегом <a class="join-step-accent" href="">#ozon_бизнесмечты</a>, отметьте
						<span class="join-step-accent">@ozonru</span> и <span class="join-step-accent">@ozon_business</span>
					</span>
				</div>
			</div>
		</div>
		<div class="join-step join-step_3">
			<div class="join-step-num">3</div>
			<div class="join-step-txt-box">
				<div class="join-step-txt">
					<span>
						Дождитесь подведения итогов конкурса <br>
						в Новом году!
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

