<div class="prize">
	<div class="prize-top">
		<!-- ... -->
	</div>
	<div class="prize-head">
		<span class="prize-head-txt">
			Призы за мечты
		</span>
	</div>
	<div class="prize-body">
		<div class="prize-body-grid">
			<div class="prize-column-box">
				<div class="prize-column prize-column_500">
					<div class="prize-column-picture">
						<img src="/assets/img/design/prize/500.png"
								 srcset="/assets/img/design/prize/500@2x.png 2x, /assets/img/design/prize/500@3x.png 3x"
								 alt="500 000 ₽">
					</div>
					<div class="prize-txt-box">
						<span class="prize-txt">
							Выиграет 1 предприниматель на
							продвижение в интернете и на Ozon <br>
							+ пост у топового блогера
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<div class="prize-column-box">
				<div class="prize-column prize-column_200">
					<div class="prize-column-picture">
						<img src="/assets/img/design/prize/200.png"
								 srcset="/assets/img/design/prize/200@2x.png 2x, /assets/img/design/prize/200@3x.png 3x"
								 alt="200 000 ₽">
					</div>
					<div class="prize-txt-box prize-txt-box_circle">
						<span class="prize-txt">
							Выиграют 2 предпринимателя на продвижение в интернете и на Ozon
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<div class="prize-column-box">
				<div class="prize-column prize-column_100">
					<div class="prize-column-picture">
						<img src="/assets/img/design/prize/100.png"
								 srcset="/assets/img/design/prize/100@2x.png 2x, /assets/img/design/prize/100@3x.png 3x"
								 alt="100 000 ₽">
					</div>
					<div class="prize-txt-box">
						<span class="prize-txt">
							Выиграют 3 предпринимателя на
							продвижение в интернете и на Ozon
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<div class="prize-column-box">
				<div class="prize-column prize-column_20">
					<div class="prize-column-picture">
						<img src="/assets/img/design/prize/20.png"
								 srcset="/assets/img/design/prize/20@2x.png 2x, /assets/img/design/prize/20@3x.png 3x"
								 alt="20 000 ₽">
					</div>
					<div class="prize-txt-box prize-txt-box_circle">
						<span class="prize-txt">
							Выиграют 10 предпринимателей <br>
							на продвижение на Ozon
						</span>
					</div>
				</div>
			</div> <!-- </ .prize-column-box -->
			<a class="prize-businessmen" href="">
				<!-- ... -->
			</a>
		</div>
	</div>
</div>
