<section class="winners">
	<div class="winners-container">
		<h1 class="winners-title">Большое дело за малым – мечтайте! </h1>
		<h3 class="winners-subtitle">Их мечты стали реальностью. У вас тоже получится!</h3>
		<div class="winners-wrap winners-wrap_type_second">
			<div class="winners-arrow-second winners-arrow-second_role_prev">
				<svg width="16" height="32" viewBox="0 0 16 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.65 31.82L0 15.19L13.69 0L15.92 2.01L3.96 15.28L15.97 29.92L13.65 31.82Z"
						  fill="black" />
				</svg>
			</div>
			<div class="winners-list swiper-container">
				<div class="swiper-wrapper">
					{% for prize in winners %}
						<div class="winners-prize swiper-slide">
							<div class="winners-prize__box winners-prize__box_icon_{{ prize.icon }} winners-prize__box_color_{{ prize.color }}"></div>
							<div class="winners-prize__price">{{ prize.price }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="winners-arrow-second winners-arrow-second_role_next">
				<svg width="16" height="32" viewBox="0 0 16 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.32 2.93243e-05L15.97 16.63L2.28 31.8201L0.0500042 29.8101L12.01 16.5401L5.47671e-06 1.90003L2.32 2.93243e-05Z"
						  fill="black" />
				</svg>
			</div>
		</div>
	</div>
</section>
