<section class="winners">
	<div class="winners-container">
		<h1 class="winners-title">Большое дело за малым – мечтайте! </h1>
		<h3 class="winners-subtitle">Их мечты стали реальностью. У вас тоже получится!<br>
			Смотрите всех победителей на сайте и в Instagram!</h3>
		<a href="#" class="winners-link">На сайт</a>
	</div>
</section>
